/holaMundo/nbproject/private/
/penesDuros/nbproject/private/
/holaMundo/build/
/Calculator/CalculatorClientApp/nbproject/private/
/Calculator/CalculatorApp/nbproject/private/
/Calculator/CalculatorClientApp/build/